apiVersion: apps/v1
kind: Deployment
metadata:
  name: vk-profile-service
  labels:
    app: vk-profile-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: vk-profile-service
  template:
    metadata:
      labels:
        app: vk-profile-service
    spec:
      containers:
        - name: vk-profile-service
          image: vk-profile-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
            - name: APP_SECURITY_USERNAME
              valueFrom:
                secretKeyRef:
                  name: vk-profile-secret
                  key: username
            - name: APP_SECURITY_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: vk-profile-secret
                  key: password
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 40
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"

