apiVersion: v1
kind: Service
metadata:
  name: vk-profile-service
  labels:
    app: vk-profile-service
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
      protocol: TCP
      name: http
  selector:
    app: vk-profile-service

